/* main document body, main font style, background image,scrollbars, etc. */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
	scroll: auto;

	font-family: helvetica, tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000088;
	background-image: url(../../../gui/img/skin/default/backbrushed.gif);
}
/* default table design */
table {
	font-family: helvetica, tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
/* main table used by the main frame template */
.main {
	border: none;
	border-width: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url(../../../gui/img/skin/default/backbrushed.gif);
}
/* table used as frames for other tables */
table.frame {
	background-color: #999999;
}
/* general title row or bar, used for the main page header block or tool bar 
*  where the 3 buttons "return","help","close" are located 
*/
.titlebar {
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	color: #546D8F;
	height: 20px;
	border-bottom: 2px dotted white;
}
/* Highlights an item or block */
.hilite {
	background-color: yellow;
}
/* submenus item link */
.submenu_item{
	font-weight: bold;
}
/* submenu's usual tbody */
.submenu{
	background-color: #eeeeee;
}
/* submenu's usual frame table */
.submenu_frame {
	background-color: #999999;
}
/* submenu's title usually used in "OR", "Ambulatory", submenus */
.submenu_title {
	background-color: #dddddd;
	font-size: 14px;
	font-weight: bold;
	color: maroon;
}
.submenu2_titlebar {
	background-color: #999999;
	font-size: 12px;
	font-weight: bold;
	color: white;
}
.submenu2_list {
	background-color: #dddddd;
	font-size: 10px;
}
.submenu2_body {
	background-color: #dddddd;
	font-size: 12px;
}
.submenu2_body2 {
	background-color: #ffffcc;
	font-size: 10px;
}
.submenu3_titlebar {
	background-color: green;
	font-size: 12px;
	font-weight: bold;
	color: white;
}
.submenu3_body {
	background-color: #ffffcc;
	font-size: 10px;
	color: #000099;
}
td.vspace {
	background-color: #dddddd;
	background-image: url(../../../gui/img/skin/default/backbrushed.gif);
}
ul {
	margin-left: 20px;
}
/* Password check border */
.passborder{
	background-color: gray;
}
.passbody{
	background-color: silver;
}
.passmask{
	background-color: #eeeeee;
	margin: 0px;
}
.passmaskframe{
	background-color: #999999;
	margin: 0px;
}
/* Questions, prompts,main instructions, notices */
.prompt{
	color: maroon;
	font-size: 16px;
	font-weight: bold;
}
/* Warnings, error reports, cautions, negative results */
.warnprompt{
	color: red;
	font-size: 18px;
	font-weight: bold;
}
/* Copyrigth footer block */
.copyright {
	font-size: 9px;
}
.wardname{
	font-weight: bold;
	color: green;
}
.wardlistrow1{
	background-color: #efefef;
}
.wardlistrow2{
	background-color: #dcdcdc;
}
.thinrow_vspacer{
	height: 1px;
	background-color: #0000ee;
}
.wardlisttitlerow{
	background-color: #fefefe;
	font-weight: bold;
}
.photo_id{
	background-color: silver;
	border: 1px solid #999999;
}
.reg_div{
	background-color: #66ee66;
	background-image: url(../../../gui/img/skin/default/tableheader_gr.gif);
	height: 5px;
	border-bottom: 1px solid gray;
}
.reg_item{
	/* background-image: url(../../../gui/img/skin/default/tableheader_gr.gif);*/
	background-color: #eeeeee;
	padding: 2px 6px 2px 6px;
	border-bottom: 1px solid green;
}
.reg_input{
	background-color: #fefefe;
	border-bottom: 1px solid #dddddd;
	padding-left: 6px;
}
.reg_list_titlebar{
	background-color: #66ee66;
	color: #000066;
}
.adm_item{
	background-image: url(../../../gui/img/skin/default/tableHeaderbg3.gif);
	background-color: cyan;
	padding: 2px 6px 2px 6px;
}
.adm_input{
	background-color: #eeeeee;
	padding-left: 6px;
}
.adm_div{
	background-color: #00009c;
	height: 5px;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
.adm_list_titlebar{
	background-color: silver;
	font-weight: bold;
	#background-image: url(../../../gui/img/skin/default/bg_tcenter38.gif);
}
/* for very important data to hilight e.g. first name, last name, bday */
.vi_data{
	font-weight: bold;
	color: maroon;
	padding: 2px 6px 2px 6px;
}

hr {
	line-height: 1px;
	color: silver;
}
/* elements, areas of saturday */
.saturday{
	background-color: #ffffcc;
	padding-left: 6px;
	padding-right:6px;
}
/* elements, areas of sunday */
.sunday{
	background-color: #ffff00;
	color: red;
	padding-left: 6px;
	padding-right:6px;
}
/* elements, areas of a weekday */
.weekday{
	background-color: white;
	padding-left: 6px;
	padding-right:6px;
}
/*----- Registration search mask */
.reg_searchmask{
	background-color: #f3f3f3;
}
/*----- Registration search bordering block */
.reg_searchmask_border{
	background-color: #66ee66;
}
a:link {color:#546D8F; text-decoration:none}
a:visited {color:#546D8F; text-decoration:none}
